@import 'tailwindcss';

:root {
  --background: #e0e0e0;
  --foreground: #171717;
  --dark-background: #161616;
  --dark-foreground: #fff;

  --dark-secondary: #242424;
}

html {
  transition: all ease 0.3s;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

html.dark {
  background-color: var(--dark-background);
  color: var(--dark-foreground);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}
